@import "text";
@import "colors";


$primarypadding: 25px;
$secondartpadding:15px;
$padding:10px;
// $desktop:840px;

body , html {
    height: 100%
}



body {
    font-family: $primaryfont-family;
    margin: 0;
    text-decoration: none;
   
    .formaction {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;

    }
 
    h1, h2 {
        font-family: $form-font;
    }

    .bar{
        color:$quaternary;

    }
    .smlogo{
        position: relative;
        top: 10px;
        height: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .w3-bar-item{
        font-display: $form-font;
        background-color: $primary-color;
        color: $primary-textcolor;
        font-style: inherit;
        margin:$padding;

        .w3-bar-button {
            margin:$padding;
            text-align: center;
            color: $quinary;
            &:hover {
                background-color: $secondary-color;
            }
    
        }
    
    }
    .w3-button {
        font-display: $form-font;
        margin:$padding
    }
    

    .display-4 {
        font-family: $form-font;
        color: $primary-textcolor;
    }

    label {
        font-family: $form-font;
        color: $quaternary;
    }

    .btn-primary {
        outline: none;
        margin: 12px auto 1em;
        width: 100%;
        height: 50px;
        font-size: 20px;
        padding: 4px;
        font-family: $form-font;
        font-weight: normal;
        letter-spacing: 1.5px;
        background-color: $secondary-color; 

    
    }

    .w3-container-fluid {
            clip-path: polygon(0 0, 100% 0, 100% 50%, 57% 100%, 0 100%);
            background-color: $secondary-color;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }

}

@media (min-width: 840px) {
    body .w3-container-fluid {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 57% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 50%, 57% 100%, 0 100%);
    }
}
  


.w36{

    display: flex;
    padding: 20px;
    margin: 1em auto;
    align-items: center;
    flex-direction: column;

    .logo {
        margin: 100px;
        position: fixed,
        right 400px,
        z-index 5,
    }
    .spanclass {
        align-self: auto;
        background-color: $primary-color;
        font-family: $form-font;
        padding: 15px; 
        font-size: 20px;
        text-align:center;
    .span{
        color:$primary-textcolor;
    }
       
    }

@media (min-width: 840px) {
        .w36 {
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: 50% auto;
              grid-template-columns: 50% auto;
              grid-template-areas: "primary card";
        }  
    } 
    
}



#primary {
    display: flex;
    padding: 20px;
    margin: 1em auto;
    align-items: center;
    flex-direction: column;
    color: $primary-color;
    padding:$padding;
    text-align: center;

    h1 {
    font-size:3em;
    margin-top:10px;
    text-transform: uppercase;
    }

    p{
        font-size: 1.4em;
    }

}

@media (min-width: 840px) {
    #primary {
      grid-area: card;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      margin: 1em;
    }
  }

.w3-bar {
    height: 82px;
    min-width:980px;
 }
 
 .wrapclassnav {
     margin: 0 auto,
     padding-top 13px,
     width 980px,
     
 }
.welcome {
    position: absolute,
    top 58px,
    background-color $secondary-color
}

@media (min-width: 840px) {
    .w36 #primary {
      grid-area: primary;
      text-align: left;
      margin: 4em 0 0 4em;
    }
  }

.w3-container a {
    color: $primary-textcolor,
    text-decoration  none
    text-align center;
}



pre {
    text-align: left,
    font-family $primaryfont-family,
    background-color $primary-textcolor,
    overflow scroll,
    border 2px $quaternary solid,
    
}
@media (min-width: 840px) {
    .w36 spanclass#primary h1 {
      width: 30%;
      font-size: 4em;
      line-height: .9em;
    }
  }

.w34 {

    margin: 50px;
}


.bar {
    background-color:$primary-color ;
}

.welcomeTextBar {
    position: absolute,
    top 58px,
    background-color $secondary-color,
    opacity .5
}

.welcomeText {
    font-size: 25px,
    font-weight 900,
    opacity 1
}

