body {
    font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace
}

.w3-container a {
    color: #343f5f;
    text-decoration: none;
}

.w3-container {
    background-color: #9DD9D2;
}

pre {
    text-align: left;
    font-family: 'Montserrat','Courier New', Courier, monospace;
    background-color: #343f5f;
    color: #fdfeff;
    overflow: scroll;
    border: 2px #FF8811 solid;
    padding: 15px
}

.w3-bar-item a:hover {
    background-color: #FF8811;
}

.w3-card-4 {
    padding: 15px;
}

img {
    max-width: 100vw;
    position: relative;
}

.bar {
    background-color: #FF8811;
}

.welcomeTextBar {
    position: absolute;
    top: 58px;
    background: #9DD9D2;
    opacity: .5;
}

.welcomeText {
    font-size: 25px;
    font-weight: 900;
    opacity: 1;
}

.welcome {
    position: absolute;
    top: 58px;
    background: #9DD9D2;
}

.logo {
    position: absolute;
    top: 79px;
    right: 67px;
    z-index: 5;
}