<div>
	<h1>Add New Trip:</h1>
</div>
<form id="addTrip">
	<div class="form-group">
		<!-- First Name -->
		<label for="tripName">Trip Name</label>
		<input type="text" class="form-control" id="tripName" name="tripName" placeholder="Trip Name">
	</div>

	<div class="form-group">
		<!-- Last Name -->
		<label for="startDate">Start Date</label>
		<input type="text" class="form-control" id="startDate" name="startDate" placeholder="Start Date">
	</div>

	<div class="form-group">
		<!-- Last Name -->
		<label for="endDate">End Date</label>
		<input type="text" class="form-control" id="endDate" name="endDate" placeholder="End Date">
	</div>

	<input type="submit" value="Submit" id="submit" class="btn btn-primary">
</form>