doctype html
html
  head
    title= TravelBuddy
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='icon', href='../public/images/favicon.ico', type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
    
  body
    nav.w3-bar.w3-bottombar.bar.w3-border-indigo( role="navigation" )
      .w3-bar-item.w3-text-white Welcome to TravelBuddy
      if locals.user
        a(href="/").w3-bar-item.w3-button Home
        a(href="/user" ).w3-bar-item.w3-button Profile
        a(href="/trips").w3-bar-item.w3-button See Trips
        a(href="/newtrip").w3-bar-item.w3-button Create New Trip
        a(id="qsLogoutBtn" href="/logout").w3-bar-item.w3-button Log Out
      else
        a(id="qsLoginBtn" href="/login").w3-bar-item.w3-button Log In
    block content
