extends travelInfoForm

block content
    .main.container
        img(src='/public/images/apple-touch-icon.png' alt='travel buddy smlogo' class='smlogo')
        .w3.w3-center.userform
            h1.display-4.m-b-2.aboutFlight Lodging Information

            form(method='POST' action='/api/lodgings')
                .form-group.lodgingName
                    label(for='lodgingName') Lodging Name:
                    input#lodgingName.form-control(type='text', placeholder='Marriot', name='lodgingName')
                .form-group.lodgingConNum
                    label(for='lodgingConNum') Lodging Confirmation Number:
                    input#lodgingConNum.form-control(type='text', placeholder='confirmation number', name='lodgingConNum')
                .form-group.dateStartLodg
                    label(for='dateStartLodg') Starting Date:
                    input#dateStartLodg.form-control(type='text', placeholder='03/11/2020', name='dateStartLodg') 
                .form-group.dateEndLodg
                    label(for='dateEndLodg') Ending Date:
                    input#dateEndLodg.form-control(type='text', placeholder='03/12/2020', name='dateEndLodg') 
                .form-group.checkIn
                    label(for='checkIn') Check-In Time:
                    input#checkIn.form-control(type='text', placeholder='04:30', name='checkIn') 
                .form-group.lodgingNotes
                    label(for='lodgingNotes') Lodging Notes:
                    input#lodgingNotes.form-control(type='text', placeholder='Ask for a toothbrush', name='lodgingNotes')
                button.btn.btn-primary(type='submit') Submit Lodging Information