extends layout

block content
    .main.container
        img(src='/public/images/apple-touch-icon.png' alt='travel buddy smlogo' class='smlogo')
        .w3-card-4.w3-center.travelform
            
            form(method='POST' action='/api/trips')
                label(for='currentTrip') Trips
                select(name='dropDown', id='')
                    if trips
                        for trip in trips
                            option=trip.tripName
                                

            form(method='POST' action='/api/trips')
                .form-group.chosenTrip
                    label(for='tripDetails') Choose Which Trip Details You Would Like to Add:
                    select#tripSelect.select.form-control.input-lg(form='chooseTripType', name='tripType')
                        option(value='0') --Select--
                        option(value='Flights') Flights
                        option(value='Lodging') Lodging
                        option(value='Transport') Transport
                        option(value='All') All

                            

                button.btn.btn-primary(type='submit') Go to Trip Info