extends layout

block content
    .main.container
        .w3-card-4.w3-center.travelform
        -var tripNames = ["LA", "NYC", 'Wales']
            
            form(onClick='option:selected' name='tripChoice')
                label(for='currentTrip') Trips
                select(name='dropDown', id='')
                    each trip in tripNames
                        option=trip
                   
            each trip in trips            
                h1.display-4.m-b-2.travelPlans Trip Name: #{trips.tripName}

            form(method='POST' action='/tripDetails')
                .form-group.chosenTrip
                    label(for='tripDetails') Choose Which Trip Details You Would Like to Add:
                    select#tripSelect.select.form-control.input-lg(form='chooseTripType', name='tripType')
                        option(value='0') --Select--
                        option(value='1') Flights
                        option(value='2') Lodging
                        option(value='3') Transport
                
            
                button.btn.btn-primary(type='submit') Update Trip Info