extends layout
block scripts
  script(src='../client/public/js/script.js')
//- var trips = [
//-   {tripName: 'Boston Trip', tripDates: '9/28-10/03', tripNotes: 'Boston Red Sox game on Sunday with sis. Dinner with Becky and Mohommad', airlineName: 'Southwest Airlines', flightConNum: 'UX0892', flightTime: '3:25pm-7:45pm', lodgeName: 'Hyatt Regency Cambridge', lodgeConNum: '24311908', checkInTime: '3:00pm'},
//-   {tripName: 'Jamestown Trip', tripDates: '10/03-10/07', tripNotes: 'Platform workshop', airlineName: 'Southwest Airlines', flightConNum: 'S9872X', flightTime: '2:25pm-5:45pm', rentalCarCompany: 'Budget Rental', rentalConNum: '3220092', rentalStartTime: '6:00pm', lodgeName: 'Air BnB', lodgeConNum: '121241241', checkInTime: '3:00pm'},
//-   {tripName: 'OKC Trip', tripDates: '10/14-10/18', tripNotes: 'Family Reunion', airlineName: 'Southwest Airlines', flightConNum: 'T8391N', flightTime: '9:05pm-11:15pm', rentalCarCompany: 'Dollar', rentalConNum: '2343019', rentalStartTime: '11:30pm'},
//- ];

block content
    each trip in trips
        h5 trip
//- block content
//-   h1= title
//-   - var pets = ['cat', 'dog']
//-   each petName in pets
//-     include pet.pug




//- block content
//-     .class('container')
//-     each trip in trips
//-     .class('card' style='width: 50%')
//-         .class('card-body')
//-             h5 
//-             .class('card-title') Trip Name: trip.tripName

