extends layout

block content
  .w3-container-fluid
    .w3-card-6
      img(src=('https://images.pexels.com/photos/297642/pexels-photo-297642.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'))
      img(src='TravelBuddy.png' alt='travel buddy logo' class='logo')
  .w3-card-4.w3-left.welcome
    h1 Welcome #{user.displayName}
    //- img(src=user.picture)
    h2 User profile
    
    //- pre
    //-   code #{userProfile}
