
extends layout

block content
    .main.container
        .formaction
        img(src='/public/images/apple-touch-icon.png' alt='travel buddy smlogo' class='smlogo')
        .w3.w3-center.userform
            .travelBuddylogo
            h1.display-4.m-b-2.aboutUser Tell us about Yourself

            form(method='POST' action='/api/users')
                .form-group.userName
                    label(for='name') Name:
                    input#name.form-control(type='text', placeholder='first and last', name='name')
                .form-group.userEmail
                    label(for='email') Email:
                    input#email.form-control(type='email', placeholder='name@email.com', name='email')
                button.btn.btn-primary(type='submit') Register